@page
@model IndexModel
@{
    ViewData["Title"] = "Início";
}

<div class="text-center">
    <h1 class="display-4">Simples CRUD</h1>
    <p>Com a utilização da metodologia DDD, neste projeto podemos obter, criar, atualizar e excluir dados de APIs.</p>
    <p><a href="https://docs.microsoft.com/aspnet/core">Scripts banco de dados</a>.</p>
</div>
