@page
@model PessoasModel
@{
    ViewData["Title"] = "Pessoas";
}

<style>

    .spacing {
        margin-bottom: 15px;
    }

    .bar {
        padding: 15px;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
</style>

<div class="container spacing">
    <div class="row bar">
        <div class="col-sm-3 align-self-center">
            <div class="form-group">
                <label for="Pessoa" class="form-label">Pessoa</label>
                <select class="form-control" id="Pessoa">
                </select>
            </div>
        </div>
        <div class="col align-self-end">
            <div class="form-group">
                <button type="button" class="btn btn-secondary" id="Buscar">Buscar</button>
                <button type="button" class="btn btn-primary" id="Nova">Nova</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label for="Nome" class="form-label">Nome</label>
                <input class="form-control" id="Nome">
            </div>
        </div>
        <div class="col-sm-3">
            <div class="form-group">
                <label for="Cpf" class="form-label">CPF</label>
                <input class="form-control" id="Cpf">
            </div>
        </div>
        <div class="col align-self-end">
            <div class="form-group">
                <button type="button" class="btn btn-primary" id="Salvar">Salvar</button>
                <button type="button" class="btn btn-danger" id="Excluir">Excluir</button>
            </div>
        </div>
    </div>
</div>

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">

@section Scripts
{
    <script src="~/lib/select2/js/select2.full.min.js"></script>

    <script type="text/javascript">

        var pessoaSelecionada = null;
        var onBuscou = false;
        var onNova = false;

        function limpa_formulario() {
            $("#Nome").val("");
            $("#Cpf").val("");
            $("#Pessoa").val("");
        }

        $("#Pessoa").select2({
            theme: "bootstrap4",
            placeholder: "Selecione",
            language: {
                searching: function () {
                    return "Buscando...";
                },
                noResults: function () {
                    return "Nenhum resultado encontrado.";
                }
            },
            ajax: {
                url: "/api/Pessoas/Listar",
                contentType: "application/json",
                data: function (params) {
                    var query =
                    {
                        term: params.term,
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (item) {
                            return {
                                id: item.id,
                                text: item.nome
                            };
                        }),
                    };
                }
            }
        });

        $('#Pessoa').on('change', function () {
            pessoaSelecionada = this.value;
        });

        $("#Buscar").on("click", function () {
            onBuscou = true;
            onNova = false;

            $.ajax({
                url: "api/Pessoas/SelecionarPorId/" + pessoaSelecionada + "",
                type: "GET",
                contentType: "application/json",
                success: function (ret) {
                    $("#Nome").val(ret.nome);
                    $("#Cpf").val(ret.cpf);
                },
                error: function (ret) {
                    console.log(ret);
                }
            });
        });

        $("#Nova").on("click", function () {
            onNova = true;
            onBuscou = false;

            limpa_formulario();
        });

        $("#Salvar").on("click", function () {
            if (onBuscou == true) {
                $.ajax({
                    url: "api/Pessoas/Alterar",
                    type: "PUT",
                    dataType: "application/json",
                    data: { Id: pessoaSelecionada, Nome: $("#Nome").val(), Cpf: $("#Cpf").val() },
                    success: function (ret) {
                        $("#Nome").val(ret.nome);
                        $("#Cpf").val(ret.cpf);
                    },
                    error: function (ret) {
                        console.log(ret);
                    }
                });
            }
            if (onNova == true) {
                $.ajax({
                    url: "api/Pessoas/Incluir",
                    type: "POST",
                    dataType: "application/json",
                    data: { Nome: $("#Nome").val(), Cpf: $("#Cpf").val() },
                    success: function (ret) {
                        limpa_formulario();
                    },
                    error: function (ret) {
                        console.log(ret);
                    }
                });
            }
        });

        $("#Excluir").on("click", function () {
            $.ajax({
                url: "api/Pessoas/Excluir/" + pessoaSelecionada + "",
                type: "DELETE",
                contentType: "application/json",
                success: function (ret) {
                    limpa_formulario();
                },
                error: function (ret) {
                    console.log(ret);
                }
            });
        });

    </script>
}