@page
@model RastreioModel
@{
    ViewData["Title"] = "Rastreio";
}

<style>

    .spacing {
        margin-bottom: 15px;
    }

    .bar {
        padding: 15px;
        border: 1px solid rgba(0,0,0,.125);
        border-radius: .25rem;
    }
</style>

<div class="container spacing">
    <div class="row bar">
        <div class="col-sm-3 align-self-center">
            <div class="form-group">
                <label for="Pessoa" class="form-label">Pessoa</label>
                <select class="form-control" id="Pessoa">
                </select>
            </div>
        </div>
        <div class="col align-self-end">
            <div class="form-group">
                <button type="button" class="btn btn-secondary" id="Buscar">Buscar</button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <table class="table" id="table">
                <thead>
                    <tr>
                        <th width="100">Nome</th>
                        <th width="100">Cep</th>
                        <th width="100">Logradouro</th>
                        <th width="100">Numero</th>
                        <th width="140">Complemento</th>
                        <th width="100">Bairro</th>
                        <th width="100">Cidade</th>
                        <th width="100">Estado</th>
                        <th width="100">Status</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
</div>

<link href="~/lib/select2/css/select2.min.css" rel="stylesheet" />
<link href="https://raw.githack.com/ttskch/select2-bootstrap4-theme/master/dist/select2-bootstrap4.css" rel="stylesheet">

@section Scripts
{
    <script src="~/lib/select2/js/select2.full.min.js"></script>

    <script type="text/javascript">

        var pessoaSelecionada = null;

        $("#Pessoa").select2({
            theme: "bootstrap4",
            placeholder: "Selecione",
            language: {
                searching: function () {
                    return "Buscando...";
                },
                noResults: function () {
                    return "Nenhum resultado encontrado.";
                }
            },
            ajax: {
                url: "/api/Pessoas/Listar",
                contentType: "application/json",
                data: function (params) {
                    var query =
                    {
                        term: params.term,
                    };
                    return query;
                },
                processResults: function (result) {
                    return {
                        results: $.map(result, function (item) {
                            return {
                                id: item.id,
                                text: item.nome
                            };
                        }),
                    };
                }
            }
        });

        $('#Pessoa').on('change', function () {
            pessoaSelecionada = this.value;
        });

        $("#Buscar").on("click", function () {
            $.ajax({
                url: "api/Encomendas/ListarPorId/" + pessoaSelecionada + "",
                type: "GET",
                contentType: "application/json",
                success: function (ret) {
                    var table = $("#table tbody");
                    $.each(ret, function (idx, elem) {
                        table.append(
                            "<tr><td>"
                            + elem.nome + "</td><td>"
                            + elem.cep + "</td><td>"
                            + elem.logradouro + "</td><td>"
                            + elem.numero + "</td><td>"
                            + elem.complemento + "</td><td>"
                            + elem.bairro + "</td><td>"
                            + elem.cidade + "</td><td>"
                            + elem.estado + "</td><td>"
                            + elem.status + "</td></tr>"
                        );
                    });
                },
                error: function (ret) {
                    console.log(ret);
                }
            });
        });

    </script>
}